$background-color: #eaeaea;

.spain-cookies-policy {
  .top-buttons {
    .logo {
      background-image: url("./thomsonreutersLogo.png");
    }
  }
}

.top-buttons input {
  padding: 0px;
  margin: 0px;
  width: 44px;
  border: 0px;
  height: 44px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("close.svg");
  background-color: $background-color;
  border-color: $background-color;
}
