// TODO: change rest to em
body {
  padding: 0.75em;
  margin: 0;

  font-size: 12px;

  overflow-x: scroll;
  overflow-y: scroll;
}

.menu {
  width: 20em;

  &.hidden {
    display: none;
  }

  &.displayed {
    display: block;
  }

  .disabled-page {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2px;
    padding-right: 20px;
    white-space: nowrap;

    background-color: grey;

    &.selected, &:hover {
      background-color: grey;

      cursor: not-allowed;
    }
  }

  .server {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2px;
    padding-right: 20px;
    white-space: nowrap;

    &.selected {
      color: white;
      background-color: rgb(89,100, 200);
    }

    &:hover {
      color: white;
      background-color: rgb(89,100, 200);
      cursor: pointer;
    }
  }

  .page {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2px;
    padding-right: 20px;
    white-space: nowrap;

    &.selected {
      color: white;
      background-color: rgb(89,100, 200);
    }

    &:hover {
      color: white;
      background-color: rgb(89,100, 200);
      cursor: pointer;
    }
  }
}
