// TODO: change rest to em
body {
  padding: 0.75em;
  margin: 0;
  font-size: 12px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.menu {
  width: 20em;

  &.hidden {
    display: none;
  }

  &.displayed {
    display: block;
  }

  .disabled-page {
    padding: 7px 20px 7px 2px;
    white-space: nowrap;
    background-color: grey;

    &.selected, &:hover {
      background-color: grey;
      cursor: not-allowed;
    }
  }

  .server {
    padding: 7px 20px 7px 2px;
    white-space: nowrap;

    &.selected {
      color: white;
      background-color: rgb(89 100 200);
    }

    &:hover {
      color: white;
      background-color: rgb(89 100 200);
      cursor: pointer;
    }
  }

  .page {
    padding: 7px 20px 7px 2px;
    white-space: nowrap;

    &.selected {
      color: white;
      background-color: rgb(89 100 200);
    }

    &:hover {
      color: white;
      background-color: rgb(89 100 200);
      cursor: pointer;
    }
  }
}
