body {
  padding: 0.75em;
  margin: 0;

  font-size: 12px;

  overflow-x: scroll;
  overflow-y: scroll;

  max-width: 100em;

  #servers {
    display: flex;
    flex-direction: column;

    .list {
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
      // justify-content: space-between;
      // max-width: 100em;

      > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        // max-width: 100em;

        input.name {
          margin-right: 1%;
          width: 15%;
        }

        input.url {
          width: 40%;
        }

        .buttons {
          margin-left: 1%;

          button {
            // width: 10%;
          }
        }
      }
    }
  }
}
